salesforce-org/org-backup/force-app/main/default/flows/Account_Intake_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <formulas>
        <name>for_AssessName</name>
        <dataType>String</dataType>
        <expression>&quot;Intake - &quot; + TEXT(TODAY())</expression>
    </formulas>
    <label>Account Intake Processing (Single Object)</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Doctor_Task</name>
        <label>Create Doctor Task</label>
        <locationX>176</locationX>
        <locationY>530</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Doctor__r.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Validate New Patient: {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Safety_Task</name>
        <label>Create Safety Task</label>
        <locationX>440</locationX>
        <locationY>410</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Patient triggered safety validation rules during intake. Wellness Assessment could not be created.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Doctor__r.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Safety Alert: Manual Referral Needed - {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Wellness_Assessment</name>
        <label>Create Wellness Assessment</label>
        <locationX>176</locationX>
        <locationY>290</locationY>
        <connector>
            <targetReference>Clear_Temp_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Safety_Task</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contraindication_Active_Malignancy__c</field>
            <value>
                <elementReference>$Record.Safety_Active_Malignancy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contraindication_Insulin_Use__c</field>
            <value>
                <elementReference>$Record.Safety_Insulin_Use__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contraindication_Pancreatitis__c</field>
            <value>
                <elementReference>$Record.Safety_Pancreatitis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contraindication_Pregnancy__c</field>
            <value>
                <elementReference>$Record.Safety_Pregnancy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doctor__c</field>
            <value>
                <elementReference>$Record.Doctor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height_cm__c</field>
            <value>
                <elementReference>$Record.Height_cm_Temp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Slug_Capture__c</field>
            <value>
                <elementReference>$Record.Doctor__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Baseline</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waist_Circumference_cm__c</field>
            <value>
                <elementReference>$Record.Waist_cm_Temp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_kg__c</field>
            <value>
                <elementReference>$Record.Weight_kg_Temp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Wellness_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Clear_Temp_Fields</name>
        <label>Clear Temp Fields</label>
        <locationX>176</locationX>
        <locationY>410</locationY>
        <connector>
            <targetReference>Create_Doctor_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Height_cm_Temp__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Waist_cm_Temp__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_kg_Temp__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Wellness_Assessment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Doctor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
