salesforce-org/org-backup/force-app/main/default/flows/Doctor_Prescription_Dev.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_Get_Unique_Inventory</name>
        <label>Get Unique Inventory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>InventoryFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_Item_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>productIds</name>
            <value>
                <elementReference>Get_Current_Product.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InventoryFlowController</nameSegment>
        <outputParameters>
            <assignToReference>Collection_Inventory_Options</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Parse_Strings</name>
        <label>Parse Strings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Selected_Items</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>Select_Products</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>separator</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowUtils</nameSegment>
        <outputParameters>
            <assignToReference>Coll_Selected_IDs</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Coll_OrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Temp_OrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Id</name>
        <label>Assign Current Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_Current_PBE_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_PBE_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_ID</name>
        <label>Assign Final ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Assign_OrderID.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Coll_Final_OrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Assign_OrderID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assign_OrderID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Item_Details</name>
        <label>Assign Item Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_PBE_Details.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Dose_Mg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Calc_Mass_From_Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Injection_Frequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Route_of_Administration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Injection_Route</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Intake_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Adjustment_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Units</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Diluent_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Diluent_Volume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Bio_Context__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Bio_Context</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Duration_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Duration_Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Prescribed_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Prescribed_Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Vials_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Calc_Vials</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Schedule_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Schedule_Mode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Anchor_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Anchor_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Injection_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Injection_Frequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Injection_Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Injection_Route</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Injection_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Injection_Site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Syringe_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Syringe_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Clinical_Rationale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Clinical_Rationale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Number_Of_Times_A_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Number_Of_Times_A_Day</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Target_Time_UTC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Parse_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Day_Mask_JSON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_DayMask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Temp_OrderItem.Daily_Dosage_mg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Calc_Mass_From_Units</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_BID_Inj</name>
        <choiceText>BID (Twice Daily)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BID (Twice Daily)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Bio_Fasted</name>
        <choiceText>Fasted (AM)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fasted (AM)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Bio_PostWorkout</name>
        <choiceText>Post-Workout</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Post-Workout</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Bio_PreBed</name>
        <choiceText>Pre-Bed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Bed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Bio_WithFood</name>
        <choiceText>With Food</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>With Food</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_BioEvent</name>
        <choiceText>Bio Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BIO_EVENT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_ClockTime</name>
        <choiceText>Clock Time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CLOCK_TIME</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Daily_Inj</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_EveryOtherDay_Inj</name>
        <choiceText>Every Other Day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Every Other Day</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_FixedDays</name>
        <choiceText>Fixed Days</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FIXED_DAYS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_IM_Inj</name>
        <choiceText>Intramuscular (IM)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Intramuscular (IM)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Intranasal_Inj</name>
        <choiceText>Intranasal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Intranasal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Mode_Units</name>
        <choiceText>By Units (Volume)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Units</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_RollingInterval</name>
        <choiceText>Rolling Interval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ROLLING_INTERVAL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SubQ_Inj</name>
        <choiceText>Subcutaneous (Sub-Q)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Subcutaneous (Sub-Q)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Titration</name>
        <choiceText>Titration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TITRATION</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_TwiceWeekly_Inj</name>
        <choiceText>Twice Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Twice Weekly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Weekly_Inj</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weekly</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>CCS_Mass_Options</name>
        <collectionReference>Collection_Inventory_Options</collectionReference>
        <dataType>Number</dataType>
        <displayField>Mass__c</displayField>
        <object>Inventory__c</object>
        <valueField>Mass__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RC_Active_Products</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Current_Inventory__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RC_My_Patients</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Doctor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Doctor.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Calc_Concentration</name>
        <dataType>Number</dataType>
        <expression>{!Input_Selected_Mass} / {!Input_Diluent_Volume}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Calc_Mass_From_Units</name>
        <dataType>Number</dataType>
        <expression>({!Input_Prescribed_Units} / 100) * {!Formula_Calc_Concentration}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Calc_Vials</name>
        <dataType>Number</dataType>
        <expression>CEILING(({!Formula_Final_Dose_Mg} * {!Input_Duration_Days}) / {!Input_Selected_Mass})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Formula_DayMask</name>
        <dataType>String</dataType>
        <expression>&quot;[&quot; + SUBSTITUTE(SUBSTITUTE(
    IF({!Check_Mon}, &quot;\&quot;MON\&quot;,&quot;, &quot;&quot;) + 
    IF({!Check_Tue}, &quot;\&quot;TUE\&quot;,&quot;, &quot;&quot;) + 
    IF({!Check_Wed}, &quot;\&quot;WED\&quot;,&quot;, &quot;&quot;) + 
    IF({!Check_Thu}, &quot;\&quot;THU\&quot;,&quot;, &quot;&quot;) + 
    IF({!Check_Fri}, &quot;\&quot;FRI\&quot;,&quot;, &quot;&quot;) + 
    IF({!Check_Sat}, &quot;\&quot;SAT\&quot;,&quot;, &quot;&quot;) + 
    IF({!Check_Sun}, &quot;\&quot;SUN\&quot;,&quot;, &quot;&quot;) + &quot;.&quot;, &quot;,.&quot;, &quot;&quot;), &quot;.&quot;, &quot;&quot;) + &quot;]&quot;</expression>
    </formulas>
    <formulas>
        <name>Formula_Final_Dose_Mg</name>
        <dataType>Number</dataType>
        <expression>{!Formula_Calc_Mass_From_Units}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Final_Prescribed_Units</name>
        <dataType>Number</dataType>
        <expression>{!Input_Prescribed_Units}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Parse_Time</name>
        <dataType>Time</dataType>
        <expression>TIMEVALUE(&quot;08:00:00.000&quot;)</expression>
    </formulas>
    <formulas>
        <name>Formula_Route_Standardized</name>
        <dataType>String</dataType>
        <expression>CASE({!Input_Injection_Route}, &quot;Subcutaneous (Sub-Q)&quot;, &quot;Subcutaneous (SubQ)&quot;, &quot;Intranasal&quot;, &quot;Nasal&quot;, {!Input_Injection_Route})</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Doctor Prescription Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Doctor Prescription DEV - Block C</label>
    <loops>
        <name>Loop_Assign_OrderID</name>
        <label>Loop Assign OrderID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Coll_OrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Final_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Items</name>
        <label>Loop Selected Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Coll_Selected_IDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Draft_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Draft_Order</name>
        <label>Create Draft Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>OrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Assign_OrderID</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Patient_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Input_General_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doctor__c</field>
            <value>
                <elementReference>Get_Current_Doctor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <stringValue>New Intake</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Items</name>
        <label>Create Order Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Final_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputReference>Coll_Final_OrderItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Doctor</name>
        <label>Get Current Doctor</label>
        <locationX>176</locationX>
        <locationY>130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Doctor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_PBE_Details</name>
        <label>Get Current PBE Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Current_PBE_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Product</name>
        <label>Get Current Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Action_Get_Unique_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_PBE_Details.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>176</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Patient_Select</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_Error</name>
        <label>Error</label>
        <locationX>500</locationX>
        <locationY>600</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(231, 76, 60);&quot;&gt;Validation Error:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please go back and ensure all dosing details (Dose, Frequency, Target Time, etc.) are correctly filled out.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Final_Success</name>
        <label>Final Success</label>
        <locationX>310</locationX>
        <locationY>600</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Final_Text</name>
            <fieldText>&lt;p&gt;Success! Loop Finished and Order Items Created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Item_Details</name>
        <label>Item Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Item_Details</targetReference>
        </connector>
        <fields>
            <name>Details_Header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Details for: {!Get_Current_PBE_Details.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Selected_Mass</name>
            <choiceReferences>CCS_Mass_Options</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Select Product Mass (Inventory)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Input_Diluent_Volume</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>2.0</numberValue>
            </defaultValue>
            <fieldText>Diluent Volume (ml)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Input_Prescribed_Units</name>
            <dataType>Number</dataType>
            <fieldText>Prescribed Units</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Display_Calculated_Mass</name>
            <extensionName>c:reactiveLabel</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Calculated Mass</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Formula_Calc_Mass_From_Units</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>unit</name>
                <value>
                    <stringValue>mg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Input_Bio_Context</name>
            <choiceReferences>Choice_Bio_Fasted</choiceReferences>
            <choiceReferences>Choice_Bio_PreBed</choiceReferences>
            <choiceReferences>Choice_Bio_WithFood</choiceReferences>
            <choiceReferences>Choice_Bio_PostWorkout</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bio Context</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Duration_Days</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>30.0</numberValue>
            </defaultValue>
            <fieldText>Duration (Days)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Input_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Formula_Calc_Vials</elementReference>
            </defaultValue>
            <fieldText>Quantity (Vials)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Input_Intake_Notes</name>
            <fieldText>Intake Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Schedule_Mode</name>
            <choiceReferences>Choice_FixedDays</choiceReferences>
            <choiceReferences>Choice_RollingInterval</choiceReferences>
            <choiceReferences>Choice_Titration</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_FixedDays</defaultSelectedChoiceReference>
            <fieldText>Schedule Mode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Anchor_Type</name>
            <choiceReferences>Choice_ClockTime</choiceReferences>
            <choiceReferences>Choice_BioEvent</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_ClockTime</defaultSelectedChoiceReference>
            <fieldText>Anchor Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Injection_Frequency</name>
            <choiceReferences>Choice_Daily_Inj</choiceReferences>
            <choiceReferences>Choice_Weekly_Inj</choiceReferences>
            <choiceReferences>Choice_TwiceWeekly_Inj</choiceReferences>
            <choiceReferences>Choice_BID_Inj</choiceReferences>
            <choiceReferences>Choice_EveryOtherDay_Inj</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_Daily_Inj</defaultSelectedChoiceReference>
            <fieldText>Injection Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Number_Of_Times_A_Day</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Number Of Times A Day</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Input_Injection_Route</name>
            <choiceReferences>Choice_SubQ_Inj</choiceReferences>
            <choiceReferences>Choice_IM_Inj</choiceReferences>
            <choiceReferences>Choice_Intranasal_Inj</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_SubQ_Inj</defaultSelectedChoiceReference>
            <fieldText>Injection Route</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Injection_Site</name>
            <dataType>String</dataType>
            <fieldText>Injection Site</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Syringe_Type</name>
            <dataType>String</dataType>
            <fieldText>Syringe Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Clinical_Rationale</name>
            <fieldText>Clinical Rationale</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Clinical_Rationale_Help</name>
            <fieldText>&lt;p&gt;&lt;i&gt;Your prescription will be reviewed by your peers and will grade it based on this&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dosing_Days_Label</name>
            <fieldText>Dosing Days (Fixed Mode Only)</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Input_Schedule_Mode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>FIXED_DAYS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Check_Mon</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Monday</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Input_Schedule_Mode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>FIXED_DAYS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Check_Tue</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Tuesday</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Input_Schedule_Mode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>FIXED_DAYS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Check_Wed</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Wednesday</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Input_Schedule_Mode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>FIXED_DAYS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Check_Thu</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Thursday</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Input_Schedule_Mode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>FIXED_DAYS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Check_Fri</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Friday</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Input_Schedule_Mode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>FIXED_DAYS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Check_Sat</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Saturday</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Input_Schedule_Mode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>FIXED_DAYS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Check_Sun</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Sunday</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Input_Schedule_Mode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>FIXED_DAYS</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Patient_Select</name>
        <label>Start Prescription</label>
        <locationX>176</locationX>
        <locationY>370</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Parse_Strings</targetReference>
        </connector>
        <fields>
            <name>Doctor_Banner</name>
            <fieldText>&lt;p&gt;Prescribing as Dr. {!Get_Current_Doctor.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Patient_Picklist</name>
            <choiceReferences>RC_My_Patients</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Patient</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_General_Notes</name>
            <fieldText>General Intake Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Products</name>
            <choiceReferences>RC_Active_Products</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Medications</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Doctor</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Coll_Final_OrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Coll_OrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Coll_Selected_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Collection_Inventory_Options</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory__c</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Temp_OrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Var_Available_Masses</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_Current_PBE_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
