salesforce-org/org-backup/force-app/main/default/flows/GSC_GRADING.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Answer</name>
        <label>Check Answer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Take10Points</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Order__r.GSC_Answer_Key__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add2Points</targetReference>
            </connector>
            <label>Pass</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Add2</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Reviewer__r.Trust_Score__c}+2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Take10</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Reviewer__r.Trust_Score__c}-10</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>GSC GRADING {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GSC GRADING</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add2Points</name>
        <label>Add2Points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Trust_Score__c</field>
            <value>
                <elementReference>Add2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Reviewer__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Take10Points</name>
        <label>Take10Points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Trust_Score__c</field>
            <value>
                <elementReference>Take10</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Reviewer__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Answer</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Gold_Standard__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Peer_Review__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
