salesforce-org/org-backup/force-app/main/default/flows/Peer_Review_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Single_Variable_Fields</name>
        <label>Assign Single Variable Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPeerReviewSingle.Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_NextDayExpiration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPeerReviewSingle.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPeerReviewSingle.Reviewer_Weight_Snapshot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Assignment.Vote_Weight_Formula_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPeerReviewSingle.Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPeerReviewSingle.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Peer Rreview Assingmentyes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colPeerReviewsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPeerReviewSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Doctor_Last_Assignment_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Doctor_Last_Assignment_Update</name>
        <label>Doctor Last Assignment Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Review_Assignment.Last_Review_Assigned_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowCurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProvidersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Review_Assignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Penalize_Reviewer</name>
        <label>Penalize Reviewer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDoctorToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Reviewers.Reviewer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDoctorToUpdate.Trust_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Score_Penalty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDoctorToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Reviewers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reward_Reviewer</name>
        <label>Reward Reviewer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDoctorToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Reviewers.Reviewer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDoctorToUpdate.Trust_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Score_Reward</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDoctorToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Reviewers</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Limit_To_3_Doctors</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Limit To 3 Doctors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Last_3_Doctors</collectionReference>
        <connector>
            <targetReference>Review_Assignment</targetReference>
        </connector>
        <limit>3</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Last_Review_Assigned_Date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_PBE_Found</name>
        <label>Check PBE Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Save_Provider_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PBE Found</defaultConnectorLabel>
        <rules>
            <name>PBE_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PBE.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_GSC_Order_Item</targetReference>
            </connector>
            <label>PBE Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pending_Reviews</name>
        <label>Check Pending Reviews</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Determinte_Process_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pending</defaultConnectorLabel>
        <rules>
            <name>Has_Pending_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pending_Reviews.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Has Pending Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Vote_Alignment</name>
        <label>Check Vote Alignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Penalize_Reviewer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Disagreed</defaultConnectorLabel>
        <rules>
            <name>Agreed_With_Consensus</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Order.Consensus_Verdict__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Positive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Reviewers.Vote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>+1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Order.Consensus_Verdict__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_Reviewers.Vote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>-1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reward_Reviewer</targetReference>
            </connector>
            <label>Agreed With Consensus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determinte_Process_Path</name>
        <label>Determine Process Path</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Action</defaultConnectorLabel>
        <rules>
            <name>Path_Trust_Score</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Order.Positive_Verdicts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Order.Peer_Review__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Order.Negative_Review_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Order.Is_Gold_Standard_Case__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Doctor</targetReference>
            </connector>
            <label>Path: Trust Score</label>
        </rules>
        <rules>
            <name>Path_Peer_Review</name>
            <conditionLogic>1 OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Order.Peer_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Order.Positive_Verdicts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Order.Positive_Verdicts__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Order.Negative_Review_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IS_GSC</targetReference>
            </connector>
            <label>Path: Peer Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gold_Standard_Case_Injection</name>
        <label>Gold Standard Case  Injection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Save_Provider_Updates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inject_GSC_15_Chance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Order.Is_Gold_Standard_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fx_RandomNumber</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>14.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GSC_Template</targetReference>
            </connector>
            <label>&quot;Inject GSC&quot; (15% Chance)</label>
        </rules>
    </decisions>
    <decisions>
        <name>IS_GSC</name>
        <label>IS GSC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_This_A_GSC_Ramp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_GSC2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Order.Is_Gold_Standard_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Last_1_Doctor</targetReference>
            </connector>
            <label>Is GSC</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check wether this order is ramping on 3+ Positive veredicts and no Negatives</description>
        <name>Is_This_A_GSC_Ramp</name>
        <label>Is This A GSC Ramp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Last_3_Doctors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Regular Order</defaultConnectorLabel>
        <rules>
            <name>GSC_Ramp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Order.Positive_Verdicts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Last_1_Doctors</targetReference>
            </connector>
            <label>GSC Ramp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verdict_Status</name>
        <label>Verdict Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Records_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Negative_Veredict</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Order.Negative_Review_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_1</targetReference>
            </connector>
            <label>Negative Veredict</label>
        </rules>
        <rules>
            <name>X10_Positives</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Order.Positive_Verdicts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_GSC</targetReference>
            </connector>
            <label>10 Positives</label>
        </rules>
        <rules>
            <name>Stalemate_Override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Order.Positive_Verdicts__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Order.Negative_Review_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Order.Peer_Review__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Escalated</targetReference>
            </connector>
            <label>Stalemate Override</label>
        </rules>
    </decisions>
    <description>The &quot;Governance Master&quot; consolidates Peer Review Assignment (Lifecycle Start) and Trust Score Updates (Lifecycle End) into a single sequential flow. (Active)</description>
    <environments>Default</environments>
    <formulas>
        <name>FlowCurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+1</expression>
    </formulas>
    <formulas>
        <name>for_NextDayExpiration</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <formulas>
        <name>Formula_Score_Penalty</name>
        <dataType>Number</dataType>
        <expression>{!Get_Reviewer_Record.Trust_Score__c} - 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_Score_Reward</name>
        <dataType>Number</dataType>
        <expression>{!Get_Reviewer_Record.Trust_Score__c} + 2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fx_RandomNumber</name>
        <dataType>Number</dataType>
        <expression>SECOND(TIMEVALUE({!$Flow.CurrentDateTime}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GSCUsage1</name>
        <dataType>Number</dataType>
        <expression>{!Get_GSC_Template.Times_Used__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>negativeVerdictIncrement</name>
        <dataType>Number</dataType>
        <expression>{!Get_Doctor_Final.Negative_Verdicts__c} + 
IF({!Get_Current_Order.Consensus_Verdict__c} = &quot;Negative&quot;, 1, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>New_Trust_Score</name>
        <dataType>Number</dataType>
        <expression>{!Get_Doctor_Final.Trust_Score__c} + 
CASE({!Get_Current_Order.Consensus_Verdict__c},
  &quot;Positive&quot;, 1,
  &quot;Negative&quot;, -5,
  0
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>newTotalSeals</name>
        <dataType>Number</dataType>
        <expression>{!Get_Doctor_Final.Total_Seals__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>positiveVerdictIncrement</name>
        <dataType>Number</dataType>
        <expression>{!Get_Doctor_Final.Positive_Verdicts__c} + 
IF({!Get_Current_Order.Consensus_Verdict__c} = &quot;Positive&quot;, 1, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>trustScoreChange</name>
        <dataType>Number</dataType>
        <expression>CASE({!Get_Current_Order.Consensus_Verdict__c},
  &quot;Positive&quot;, 1,
  &quot;Negative&quot;, -5,
  0
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Governance Master {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Governance Master (Peer Review &amp; Trust Score)</label>
    <loops>
        <name>Loop_Over_Reviewers</name>
        <label>Loop Over Reviewers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Peer_Reviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Reviewer_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Reviewers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Review_Assignment</name>
        <label>Review Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Last_3_Doctors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Variable_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Peer_Reviews</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Peer_Review</name>
        <label>Copy 1 of Create Peer Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Save_Provider_Updates</targetReference>
        </connector>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>for_NextDayExpiration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewer_Weight_Snapshot__c</field>
            <value>
                <elementReference>Get_Last_1_Doctor.Vote_Weight_Formula_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewer__c</field>
            <value>
                <elementReference>Get_Last_1_Doctor.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Peer_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_GSC</name>
        <label>Create GSC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer_Key__c</field>
            <value>
                <stringValue>+1 (Approve)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinical_Rationale__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dose_mg__c</field>
            <value>
                <elementReference>$Record.Dose_mg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Get_Product.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Gold_Standard_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_GSC_Order_Item</name>
        <label>Create GSC Order Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Save_Provider_Updates</targetReference>
        </connector>
        <inputAssignments>
            <field>Anchor_Type__c</field>
            <value>
                <elementReference>Get_GSC_Template.Anchor_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bio_Trigger__c</field>
            <value>
                <elementReference>Get_GSC_Template.Bio_Trigger__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Day_Mask_JSON__c</field>
            <value>
                <elementReference>Get_GSC_Template.Day_Mask_JSON__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dose_Mg__c</field>
            <value>
                <elementReference>Get_GSC_Template.Dose_mg__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>PhantomOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_PBE.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_Mode__c</field>
            <value>
                <elementReference>Get_GSC_Template.Schedule_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Peer_Reviews</name>
        <label>Create Peer Reviews</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Gold_Standard_Case_Injection</targetReference>
        </connector>
        <inputReference>colPeerReviewsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Phantom_Order</name>
        <label>Create Phantom Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>PhantomOrderID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_PBE</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_GSC_Template.Clinical_Rationale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>FlowCurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSC_Answer_Key__c</field>
            <value>
                <elementReference>Get_GSC_Template.Answer_Key__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Gold_Standard_Case__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Single_Peer_Review_Assignment</name>
        <label>Create Single Peer Review Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Save_Provider_Updates</targetReference>
        </connector>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>for_NextDayExpiration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewer_Weight_Snapshot__c</field>
            <value>
                <elementReference>Get_Last_1_Doctors.Vote_Weight_Formula_c__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewer__c</field>
            <value>
                <elementReference>Get_Last_1_Doctors.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Peer_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Doctor</name>
        <label>Find Doctor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Order.Doctor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Doctor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Order</name>
        <label>Get Current Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doctor_Final</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doctor_Final</name>
        <label>Get Doctor Final</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pending_Reviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Order.Doctor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Doctor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GSC_Template</name>
        <label>Get GSC Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Used_GSC</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Gold_Standard_Case__c</object>
        <sortField>Times_Used__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_1_Doctor</name>
        <label>Get Last 1 Doctor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_Peer_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Doctor__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Doctor__c</object>
        <sortField>Last_Review_Assigned_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_1_Doctors</name>
        <label>Get Last 1 Doctors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Last_Assinged_Date_for_Doctor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Doctor__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Doctor__c</object>
        <sortField>Last_Review_Assigned_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_3_Doctors</name>
        <label>Get Last 3 Doctors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Limit_To_3_Doctors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Doctor__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Doctor__c</object>
        <sortField>Last_Review_Assigned_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PBE</name>
        <label>Get PBE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PBE_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_GSC_Template.Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Peer_Reviews</name>
        <label>Get Peer Reviews</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Reviewers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Peer_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_Reviews</name>
        <label>Get Pending Reviews</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pending_Reviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Peer_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verdict_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reviewer_Record</name>
        <label>Get Reviewer Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Vote_Alignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_Reviewers.Reviewer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Doctor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Provider_Updates</name>
        <label>Save Provider Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>ProvidersToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_Escalated</name>
        <label>Set Status Escalated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Assinged_Date_for_Doctor</name>
        <label>Update Last Assinged Date for Doctor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Single_Peer_Review_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Last_1_Doctors.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Review_Assigned_Date__c</field>
            <value>
                <elementReference>FlowCurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Doctor__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Peer_Reviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Order.Doctor__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Negative_Verdicts__c</field>
            <value>
                <elementReference>negativeVerdictIncrement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Positive_Verdicts__c</field>
            <value>
                <elementReference>positiveVerdictIncrement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Seals__c</field>
            <value>
                <elementReference>newTotalSeals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trust_Score__c</field>
            <value>
                <elementReference>New_Trust_Score</elementReference>
            </value>
        </inputAssignments>
        <object>Doctor__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reviewers</name>
        <label>Update Reviewers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>ReviewersToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Used_GSC</name>
        <label>Update Used GSC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Phantom_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_GSC_Template.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Times_Used__c</field>
            <value>
                <elementReference>GSCUsage1</elementReference>
            </value>
        </inputAssignments>
        <object>Gold_Standard_Case__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Order</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Peer_Review__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Positive_Verdicts__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Peer_Review__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Negative_Review_Count__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colPeerReviewsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Peer_Review__c</objectType>
    </variables>
    <variables>
        <name>PhantomOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProvidersToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Doctor__c</objectType>
    </variables>
    <variables>
        <name>ReviewersToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Doctor__c</objectType>
    </variables>
    <variables>
        <name>varDoctorToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Doctor__c</objectType>
    </variables>
    <variables>
        <name>varPeerReviewSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Peer_Review__c</objectType>
    </variables>
</Flow>
