salesforce-org/org-backup/force-app/main/default/flows/Wellness_Intake_Safety_Engine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Doctor_Notification</name>
        <label>Send Doctor Notification</label>
        <locationX>176</locationX>
        <locationY>750</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Log_Email_Activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>manuelvelez3223@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Patient Intake Received</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>for_EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>nadmin@azoth.is</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Fault_Email</name>
        <label>Send Fault Email</label>
        <locationX>440</locationX>
        <locationY>530</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>FLOW FAILURE: Azoth Patient Intake</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>manuelvelez3223-76g6@force.com</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <description>Consolidated intake logic: Owner Transfer, Direct Doctor Linking via Flow (Temp Field), Assessment Creation, and Timeline Logging.</description>
    <formulas>
        <name>for_AssessName</name>
        <dataType>String</dataType>
        <expression>&quot;Intake - &quot; + TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>for_EmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;Hello &quot; &amp; {!Get_Doctor_Details.Name} &amp; &quot;,&quot; &amp; BR() &amp; BR() &amp;
&quot;A new patient (&quot; &amp; {!$Record.Name} &amp; &quot;) has completed their intake form for your review.&quot; &amp; BR() &amp; BR() &amp;
&quot;Please log in to the portal to review their Wellness Assessment.&quot;</expression>
    </formulas>
    <formulas>
        <name>for_NullNumber</name>
        <dataType>Number</dataType>
        <expression>NULL</expression>
        <scale>2</scale>
    </formulas>
    <label>Account Intake Processing (Single Object)</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Wellness_Assessment</name>
        <label>Create Wellness Assessment</label>
        <locationX>176</locationX>
        <locationY>550</locationY>
        <connector>
            <targetReference>Send_Doctor_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Fault_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contraindication_Active_Malignancy__c</field>
            <value>
                <elementReference>$Record.Safety_Active_Malignancy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contraindication_Insulin_Use__c</field>
            <value>
                <elementReference>$Record.Safety_Insulin_Use__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contraindication_Pancreatitis__c</field>
            <value>
                <elementReference>$Record.Safety_Pancreatitis__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contraindication_Pregnancy__c</field>
            <value>
                <elementReference>$Record.Safety_Pregnancy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doctor__c</field>
            <value>
                <elementReference>$Record.Intake_Slug_Temp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height_cm__c</field>
            <value>
                <elementReference>$Record.Height_cm_Temp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Slug_Capture__c</field>
            <value>
                <elementReference>$Record.Intake_Slug_Temp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Baseline</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waist_Circumference_cm__c</field>
            <value>
                <elementReference>$Record.Waist_cm_Temp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_kg__c</field>
            <value>
                <elementReference>$Record.Weight_kg_Temp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Wellness_Assessment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Email_Activity</name>
        <label>Log Email Activity</label>
        <locationX>176</locationX>
        <locationY>850</locationY>
        <connector>
            <targetReference>Clear_Temp_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>for_EmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Internal_Admin.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email Sent: New Patient Intake Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Doctor_Details</name>
        <label>Get Doctor Details</label>
        <locationX>176</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Fault_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Intake_Slug_Temp__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Doctor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Internal_Admin</name>
        <label>Get Internal Admin</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Doctor_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Fault_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>manuelvelez3223-76g6@force.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Temp_Fields</name>
        <label>Clear Temp Fields</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <inputAssignments>
            <field>Height_cm_Temp__c</field>
            <value>
                <elementReference>for_NullNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Slug_Temp__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waist_cm_Temp__c</field>
            <value>
                <elementReference>for_NullNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_kg_Temp__c</field>
            <value>
                <elementReference>for_NullNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Fields</name>
        <label>Update Account Fields</label>
        <locationX>176</locationX>
        <locationY>410</locationY>
        <connector>
            <targetReference>Create_Wellness_Assessment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Fault_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Doctor__c</field>
            <value>
                <elementReference>$Record.Intake_Slug_Temp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Internal_Admin.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Internal_Admin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake_Slug_Temp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
